.featured-area-1.ff-section 	{
	position: relative;
}

.featured-image-1.ff-block img 	{
	width: 100%;
	height: auto;
}
.arrow_overlay{
	position:absolute;
	bottom:-1px;
	z-index:5;
}
.icon-link, .icon-share, .icon-bubble{
	color:#13faab;
}
